{% extends "layout/base.html" %}
{% block content%}

<div class="h3 mt-3 ms-3">BÁO CÁO TỔNG KẾT MÔN HỌC</div>
<form action="/user/baocaothongke/submit" method="post" class="container row " style="width: 60%">
    <div class="col-auto">
        <label class="" for="MonHoc">Môn học</label>
        <select class="form-select" id="MonHoc" aria-label="Chọn môn học" style="width: auto" name="MonHoc">
            <option selected>Chọn lớp</option>
            {% for MH in danh_sach_mon_hoc %}
            <option value="{{MH.MaMonHoc}}">Môn {{MH.TenMonHoc}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-auto">
        <label class="" for="HocKi">Năm học</label>
        <select class="form-select" id="HocKi" aria-label="Chọn năm học" style="width: auto" name="HocKi">
            <option selected>Chọn học kì</option>
            {% for HK in danh_sach_hoc_ki %}
            <option value="{{HK.MaHocKi}}">Học kì {{HK.TenHocKi}} năm {{HK.NamHoc}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-auto mt-3">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
<div class="container mt-3 ">
    <table class="table border-2 border-dark" id="dataTable">
        <thead>
        <tr>
            <td colspan="5" class="text-center h4 border-1">BÁO CÁO TỔNG KẾT MÔN HỌC</td>
        </tr>
        <tr>
            <td colspan="3" class="text-center border-1">Môn: {{TenMonHoc}}</td>
            <td colspan="2" class="text-center border-1">Học kì: Học kì {{TenHocKi}}</td>
        </tr>
        <tr>
            <td colspan="3" class="text-center border-1">Năm học: {{TenNamHoc}}</td>
            <td colspan="2" class="text-center border-1"></td>
        </tr>
        <tr>
            <th scope="col" class="text-center border-1">STT</th>
            <th scope="col" class="text-center border-1">Lớp</th>
            <th scope="col" class="text-center border-1">Sĩ số</th>
            <th scope="col" class="text-center border-1">Số lượng đạt</th>
            <th scope="col" class="text-center border-1">Tỷ lệ</th>
        </tr>

        </thead>
        <tbody class="text-center border-1">
        {% for lop in Lop %}
        <tr>
            <th scope="row">{{ lop[0]}}</th>
            <td class="text-center border-1">{{ lop[1]}}</td>
            <td class="text-center border-1">{{ lop[2]}}</td>
            <td class="text-center border-1">{{ lop[3]}}</td>
            <td class="text-center border-1">{{ lop[4]}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<canvas id="myChart" width="400" height="200"></canvas>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static',filename='js/thongke.js')}}"></script>
{% endblock %}
