{% extends 'layout/base.html' %}

{% block css %}
    {#    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/nhapdiem.css') }}">#}
    <style>

        .container-dshoc-notlop {
            height: 300px;
            width: 70%;
            border: 1px solid;
            border-radius: 10px;
            text-align: center;
            margin: 20px auto;
        }

        .table-scroll-bar-y {
            height: 170px;
            overflow-y: auto;
        }

        .btn-sua {
            background-color: #ade6ad;
            height: 50px;
            width: 200px;
            border-radius: 10px;
        }

        select + i {
            margin: 20px;
        }

        .stt,
        .hoten,
        .gioitinh,
        .diachi,
        .namsinh,
        .xoa {
            width: 16%;
        }
    </style>


{% endblock %}


{% block content %}
    <div class="container col-5 mt-3">
        <div class="alert alert-danger alert-dismissible" style="display: none">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong id="error"></strong>
        </div>
    </div>

    {% if dshocsinhnotlop %}
        <div class="container">

            <div class="container-dshoc-notlop">
                <h3 style="margin-top: 20px">DANH SÁCH HỌC SINH CHƯA CÓ LỚP</h3>
                <div class="table-scroll-bar-y">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>STT</th>
                            <th>Họ tên</th>
                            <th>Điểm</th>
                            <th>Giới tính</th>
                            <th>Năm sinh</th>
                            <th>Địa chỉ</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for hs in dshocsinhnotlop %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                {% for info in hs %}

                                    <td>{{ info.Ho }} {{ info.Ten }}</td>
                                    <td>{{ info.DiemTbDauVao }}</td>
                                    <td>{{ info.GioiTinh }}</td>
                                    <td>{{ info.NgaySinh.strftime('%Y') }}</td>
                                    <td>{{ info.DiaChi }}</td>
                                    <td>
                                        <input type="checkbox" class="form-check-input"
                                               onchange="CheckAddHocSinh('{{ info.UserID }}' , this)">

                                    </td>

                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div style="text-align: right;">
                    <button class="btn btn-sua" onclick="AddHocSinhToLop('{{ lop }}')">Thêm</button>
                </div>
            </div>
        </div>
    {% endif %}

    {#    <form action="" method="POST" class="form-container">#}
    {#        <div class="form-row">#}
    {#            <label for="lopLabel">Khối: </label>#}
    {#            <select name="dslop" onchange="updateLabel(this, 'lopLabel')">#}
    {#                <option value="">Khối</option>#}
    {#                {% for i in dskhoi %}#}
    {#                    <option value="{{ i.TenLop }}">{{ i.TenLop }}</option>#}
    {#                {% endfor %}#}
    {#            </select>#}
    {##}
    {##}
    {#        </div>#}
    {#        <div style="margin: 20px auto;">#}
    {#            <button type="submit" class="btn-save-infor-hocsinh">Tìm kiếm</button>#}
    {#        </div>#}
    {#    </form>#}

    {% if solop %}
        <div class="container mt-3">
            <ul class="pagination">
                <li class="page-item" style="margin-left: 5px;"><a class="page-link" href="#">Lớp</a></li>
                {% for i in range(1, solop + 1) %}
                    <li class="page-item"><a class="page-link"
                                             href="{{ url_for('dieuchinhdanhsachlop',page=i) }}">{{ i }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}


    <div class="container mt-3">
        <h2>Lớp: {{ lop }}</h2>
        <p>Sĩ số: {{ lophocsinh | length }}</p>
        <div>
            <table class="table table-striped" style="width: 100%; border-collapse: collapse; margin-bottom: 0">
                <thead>
                <tr>
                    <th class="stt">STT</th>
                    <th class="hoten">Họ tên</th>
                    <th class="gioitinh">Giới tính</th>
                    <th class="namsinh">Năm sinh</th>
                    <th class="diachi">Địa chỉ</th>
                    <th class="xoa">Xóa</th>
                </tr>
                </thead>
            </table>

            <div style="height: 450px; overflow-y: auto; margin-bottom: 50px">
                <table id="scoreTable" class="table table-striped custom-table"
                       style="width: 100%; border-collapse: collapse; margin-bottom: 0;">
                    <tbody>
                    {% for hocsinh in lophocsinh %}
                        <tr>
                            <td class="stt">{{ loop.index }}</td>
                            {% for info in hocsinh %}

                                <td class="hoten">{{ info.Ho }} {{ info.Ten }}</td>
                                <td class="gioitinh">{{ info.GioiTinh }}</td>
                                <td class="namsinh">{{ info.NgaySinh.strftime('%Y') }}</td>
                                <td class="diachi">{{ info.DiaChi }}</td>
                                <td class="xoa">
                                    <button style="background: none; border: none"
                                            onclick="RemoveHS('{{ info.UserID }}', '{{ lop }}')">
                                        <i class="fa-solid fa-minus"></i>
                                    </button>
                                </td>



                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


    </div>

    <script src="{{ url_for('static', filename='js/saveinfordshocsinh.js') }}"></script>
{% endblock %}
