{% extends 'layout/base.html' %}


{% block title %} Xuất điểm {% endblock %}


{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/nhapdiem.css') }}">
    <style>

        .btn-sua {
            background-color: #ade6ad;
            height: 50px;
            width: 200px;
            border-radius: 10px;
        }

        .btn_timkiem {
            width: 350px;
            height: 50px;
            border: 1px solid;
            border-radius: 10px;
        }

        th,
        td {
            width: 20%;
        }


    </style>

{% endblock %}
{% block content %}



    <div class="container mt-3">



        <form action="{{ url_for('xuatdiemlop') }}" method="POST" class="form-container">


            <div class="form-row">
                <h3>BẢNG ĐIỂM MÔN HỌC</h3>
                <label for="lopLabel">Tìm kiếm học sinh: </label>
                <div>

                    <input type="text" id="searchhocsinh" name="searchhocsinh" autocomplete="off"
                           placeholder="La Trinh, huynhngoctruong@gmail.com, 0369185111...."
                           value={{ searchhocsinh }}>
                    <select name="dskhoi" id="dskhoi" onclick="LoadAllMon()">
                        <option value="0">Khối</option>
                        {% for i in dskhoi %}
                            {% if i.MaKhoi == makhoi %}
                                <option selected value="{{ i.MaKhoi }}">{{ i.TenKhoi }}</option>
                            {% else %}
                                <option value="{{ i.MaKhoi }}">{{ i.TenKhoi }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <label for="lopLabel">Lớp: </label>
                <input type="text" id="lopLabel" name="lop" autocomplete="off" list="lopLabels"
                       value={{ lop }}>

                <datalist id="lopLabels">
                    {% for i in dslopcheckbox %}
                        <option value="{{ i.TenLop }}">
                    {% endfor %}
                </datalist>

                <select name="dslop" id="dslop" onclick="updateLabel(this, 'lopLabel')">
                    <option value="">Lớp</option>

                    {% for i in dslopcheckbox %}
                        {% if i.MaLop == malop %}
                            <option selected value="{{ i.MaLop }}">{{ i.TenLop }}</option>

                        {% else %}
                            <option value="{{ i.MaLop }}">{{ i.TenLop }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label for="monhocLabel">Môn học: </label>
                <input type="text" id="monhocLabel" name="monhoc" autocomplete="off" list="monhocLabels"
                       value={{ monhoc }}>

                <datalist id="monhocLabels">

                </datalist>
                <select name="dsmonhoc" onclick="updateLabel(this, 'monhocLabel')">
                    <option value="">Môn học</option>
                </select>
            </div>
            <div class="form-row">
                <label for="namhoc">Năm học: </label>
                <input type="text" id="namhoc" name="namhoc" value={{ namhoc }}>
            </div>
            <button type="submit" class="btn-save-infor-hocsinh" style="margin-bottom: 15px ">Xuất</button>

        </form>


        <div>
            <table class="table table-striped custom-table" style="margin-bottom: 0; border-collapse: collapse;">
                <thead>
                <tr>
                    <th>STT</th>
                    <th>Họ tên</th>

                    <th>Điểm TB HK1</th>
                    <th>Điểm TB HK2</th>
                </tr>
                </thead>
            </table>

            <div style="height: 450px; overflow-y: auto; margin-bottom: 50px">
                <table id="scoreTable" class="table table-striped custom-table"
                       style="border-collapse: collapse;">
                    <tbody>
                    {% for i in dshocsinh %}

                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ i['HoTen'] }}</td>

                            <td>{{ i['TBHK1'] }}</td>
                            <td>{{ i['TBHK2'] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src={{ url_for('static', filename = 'js/nhapdiem.js') }}></script>

{% endblock %}